@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

section {
  h1 {
    font-size: 2em;
    letter-spacing: 2px;

    span {
      font-weight: 700;
    }
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;

    span {
      font-weight: 700;
    }
  }

  p {
    line-height: 1.75;

    span {
      font-weight: 700;
    }
  }
}

.border-absolute {
  position: absolute;
  right: 0;
  bottom: 0;
  left: -200%;
  top: 99%;
  background: white;
  transform: translateY(-425%);
}

.hollow-text {
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 0.75px white;
}
